h1 {
    color:white;
    text-align: center;
}
.me img {
    height: 250px;
    width: 250px;

}
body {
    background-image: url("./dark-low-poly-background_1048-7971.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    

}
div {
    color: white;
    
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}h4 {
    font-style: italic;
}
